@model SlackModel
@{
    ViewData["Title"] = "Smack it!";
}

<div class="row">
    <div class="col-md-12">
        <h2>Smack It</h2>
    </div>
    <div class="col-md-3">
        <form asp-controller="Home" asp-action="Publish" method="post">
            <div class="form-group">
                <label for="Channel">Channel</label>
                <input id="Channel" asp-for="Channel" class="form-control" placeholder="#fizzbuzz"/>
            </div>
            
            <div class="form-group">
                <label for="Username">Username</label>
                <input id="Username" asp-for="Username" class="form-control" placeholder="Grong" />
            </div>
            
            <div class="form-group">
                <label for="Username">Emoji</label>
                <input id="Emoji" asp-for="Emoji" class="form-control" placeholder=":grong:" />
            </div>
            
            <div class="form-group">
                <label for="Message"></label>
                <textarea id="Message" asp-for="Message" class="form-control" placeholder="Rød og kvit!" ></textarea>
            </div>
            
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>
</div>
